<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>html12</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>ex04</servlet-name>
  	<servlet-class>com.bit.service.Ex04</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deptlistJson</servlet-name>
  	<servlet-class>com.bit.service.Dept</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>deptlistJson</servlet-name>
  	<url-pattern>/deptlist.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ex04</servlet-name>
  	<url-pattern>/ex04.bit</url-pattern>
  </servlet-mapping>
</web-app>