*{
		margin: 0px;
		padding: 0px;
		background-color: white;
	}
	#header,#menu,#content,#footer{
		width: 1024px;
		margin: 0px auto;
	}
	#header{}
	#header>h1{
		width: 320px;
		height: 120px;
		background-image: url("img/logo.png");
		background-repeat: no-repeat;
	}
	#menu,#footer{
		background-color: gray;
	}
	#menu{
		height:50px;
		clear: both;
	}
	#menu>ul{
		list-style: none;
		width:400px;
		margin: 0px auto;
	}
	#menu>ul>li{
		width: 100px;
		float: left;
	}
	#menu>ul>li>a{
		border:1px solid gray;
		box-sizing:border-box;
		color:white;
		text-decoration:none;
		height:50px;
		line-height:50px;
		display: block;
		text-align: center;
		background-color: darkgray;
	}
	#menu>ul>li>a:HOVER{
		background-color: yellow;
	}
	#content{
		clear: both;
	}
	#footer{
		text-align: center;
	}
	#footer>*{
		background-color: gray;
	}